/*
* @Author: Administrator
* @Date:   2018-05-20 11:35:43
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-23 12:46:54
*/
@import url('../css/base.css');
/* 头部开始 */
header{
	width: 100%;
	height: .88rem;
	background: #e63c5a;
	padding: 0.15rem 0.34rem 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
header .header_left{
	width: auto;
	height: auto;
	float: left;
}
header .header_left a i{
	display: block;
	color: #ffffff;
	font-size: .24rem;
}
header .header_right{
	width: auto;
	height: auto;
	float: right;
}
header .header_right a i{
	display: block;
	color: #ffffff;
	font-size: .24rem;
}
/* 头部结束 */
/* 矩形开始 */
.juxing{
	margin-top: .88rem;
	width: 100%;
	height: 1.46rem;
	background: #e63c5a;
	margin-bottom: 2.22rem;
	position: relative;
}
.juxing img{
	width: 6.70rem;
	height: 3.42rem;
	position: absolute;
	top: .02rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
/* 矩形结束 */
 /* 介绍开始 */
.main{
	width: 100%;
	height: 1.74rem;
	padding: 0 0.34rem 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: .16rem;
}
.main .name{
	color: #e63c5a;
	font-size: .28rem;
	line-height: .38rem;
	font-weight: bolder;
}
.xiahuaxian{
	width: 2.20rem;
	height: .04rem;
	display: flex;
	justify-content: space-between;
}
.xiahuaxian li{
	width: .04rem;
	height: .04rem;
	background: #000000;
	border-radius: 50%;
}
.EnglishName{
	font-size: .14rem;
	line-height: .32rem;
	color: #000000;
	font-weight: bolder;
}
.pingjia{
	width: 4rem;
	height: .44rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pingjia_left{
	width: 3rem;
	height: .28rem;
	display: flex;
	justify-content: space-between;
}
.pingjia_left li{
	font-size: .28rem;

}
.pingjia_left li i{
	font-size: .28rem;
	line-height: .28rem;
	color: #e63c5a;
}
.pingjia_right{
	width: .6rem;
	height: .24rem;
	border-radius: .14rem;
	border: .02rem solid #e63c5a;
	font-size: .14rem;
	color: #e63c5a;
	font-weight: bolder;
	text-align: center;
	line-height: .24rem;
}
.price{
	width: 100%;
	height: .56rem;
	display: flex;
	justify-content: space-between;
}
.price_left{
	font-size: .2rem;
	color: #e63c5a;
	line-height: .56rem;
	font-weight: bolder;
}
.price_right{
	width: .34rem;
	height: .34rem;
	font-size: .34rem;
	color: #e63c5a;
	align-self: center;
}
.price_right i{
	font-size: .34rem;
	color: #e63c5a;
}
/* 介绍开始 */
/* 菜品开始 */
.xiangqing{
	width: 100%;
	height: 1.71rem;
	padding: 0 0.34rem 0;
	box-sizing: border-box;
}
.xiangqing_top{
	width: 100%;
	height: .65rem;
	font-size: .22rem;
	line-height: .65rem;
	display: flex;
}
.xiangqing_top div{
	width: .06rem;
	height: .06rem;
	border-radius: 50%;
	background: #ffffff;
	border: .04rem solid #e63c5a;
	box-shadow: 0 0 0 .05rem #ed768b;
	align-self: center;
	margin-left: .06rem;
	margin-right: .12rem;
	font-weight: bolder;
	font-family: "黑体";
}
.xiangqing_bottom{
	width: 100%;
	height: 1.06rem;
	display: flex;
	justify-content: space-between;
}
.xiangqing_bottom li{
	width: 1rem;
	height: 1.06rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.xiangqing_bottom li img{
	width: 0.69rem;
	height: 0.69rem;
}
.xiangqing_bottom li .cainame{
	font-size: .18rem;
	margin-top: .08rem;
	color: #000000;
	font-weight: bolder;
}
/* 菜品开始 */
/* 评价开始 */
.wangyouPJ{
	width: 100%;
	height: auto;
	padding: 0 .44rem 0;
	box-sizing: border-box;
}
.wangyouPJ ul{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 1.2rem;

}
.wangyouPJ ul li{
	margin-top: .31rem;
	width: 6.63rem;
	height: 1.49rem;
	box-shadow: 0 0 .1rem .04rem #d1d1d1;
	position: relative;
}
.wangyouPJ ul li a{
	display: block;
	width: 6.63rem;
	height: 1.49rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: .23rem 0 .26rem;
	box-sizing: border-box;
}
.sanjiao{
	width: .4rem;
	height: .4rem;
	background: url('../img/sanjiao.png') no-repeat;
	position: absolute;
	top: 0;
	right: 0;
}
.photo{
	width: 1.07rem;
	height: 1.07rem;
}
.PJ_right{
	width: 5.05rem;
	height: 1.07rem;
	margin-left: .2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.user{
	font-size: .2rem;
	color: #000000;
}
.evaluate{
	font-size: .18rem;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom{
	width: 100%;
	height: .18rem;
	display: flex;
	justify-content: flex-start;
}
.zan{
	width: .56rem;
	height: .18rem;
	font-size: .16rem;
	color: #e63c5a;
	display: flex;
	justify-content: space-between;
	margin-right: .37rem;
}
.zan span{
	color: #000000;
	font-size: .14rem;
	align-self: flex-end;
}
/* 评价结束 */
